.navbar{
    background-color:blueviolet;
    border: none;
}
.nav{
    background-color:blueviolet;
}

h1{
    color: blue;
    text-decoration: underline;
}
h2{
    color:blue;
    text-decoration:underline;
    text-align: center;
    font-size: 40px;;
}
